.modal {
    overflow-y: visible;
    padding: 0;
    &-dialog {
        margin: auto;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%)!important;
    }
    &-content {
        margin: auto;
    }
    &-backdrop {
        z-index: 1200;
    }
}
#candidate-popup, #candidate-confirm, #candidate-evaluate {
    z-index: 1201;
    &.modal {
        &-content {
            border: none;
            border-radius: 0;
            box-shadow: none;
            min-width: 25%;
        }
        &-header {
            background: $background-header;
            border-radius: 0;
            color: #fff;
            text-align: center;
        }
        &-dialog{
            max-width: 350px;
            top: 50%;
            transform: translateY(-50%)!important;
            transition: .5s;
            .modal-content {
                border: none;
                border-radius: 0;
                .modal-header {
                    background: $background-header;
                    border-radius: 0;
                    display: block;
                    padding: 10px;
                    text-align: center;
                    h5 {
                        color: #fff;
                        font-size: 1rem;
                        text-align: center;
                    }
                }
            }
        }
        .show{
            .modal-dialog{

            }
        }

    }
}


