.candidate-evaluate {
    .ql-toolbar {
        padding: 2px !important;
        .ql-formats {
            margin-right: 5px !important;
            button {
                height: 18px;
                width: 18px;
            }
            .ql-picker {
                font-size: 12px !important;
                height: 20px !important;
            }
        }
        .ql-font {
            width: 80px !important;
        }
        .ql-size {
            width: 67px !important;
        }
    }
    .ql-editor {
        height: 260px;
        padding: 5px;
        &::-webkit-scrollbar {
            width: 7px;
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 4px;
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
    }

}