// color
$pink-color: #fb236a;
$text-color-gray: #555;
$facebook-color:#3b5998;
$skype-color:	#00aff0;
$github-color:#6a737d;
$text-color-sidebar:#343A40;
$border-color: #f2f2f2;
// background
$background-gray-rgba: #dee2e6;
$background-candidate-item-hover: #F7F9FA;
$background-sidebar: #ECECEC;
$background-sidebar-item-active: #DFDFDF;
$background-header: #AB1D1D;
$background-evaluate-sidebar: #f0eee6;
// .variable color
