// main header
.main-header {
    background: $background-header !important;
    margin-left: 0 !important;
    .brand-link {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
    .navbar-nav {
        color: #fff !important;
        a {
            color: #fff !important;
        }
        .nav-item {
            display: flex;
            &.dropdown {
                visibility: visible !important;
            }
            .image {
                position: relative;
                .img {
                    border-radius: 50%;
                    height: 40px;
                    overflow: hidden;
                    width: 40px;
                    img {
                        max-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .badge {
                    background: #fff;
                    bottom: 0;
                    color: $background-header;
                    position: absolute;
                    right: -20%;
                }
            }
            .nav-link {
                cursor: pointer;
                padding: 0.6rem 1rem !important;
                &:hover {
                    text-decoration: underline;
                }
            }
            .info {
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &.ml-auto {
                a {
                    color: #000 !important;
                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }
            .dropdown-menu {
                border-radius: 0 !important;
                min-width: 200px !important;
                right: 15px !important;
                top: 45px;
                width: 150px !important;
                .dropdown-item {
                    color: $text-color-sidebar !important;
                    font-size: 13px !important;
                }
                .badge {
                    background: $background-header;
                    color: #fff;
                }
            }
        }
    }
    .user-panel {
        margin-bottom: 0 !important;
        margin-top: 3px !important;
        overflow: visible !important;
        padding-bottom: 0 !important;
    }
}
// main header