.ql-toolbar{
	padding: 2px!important;
	.ql-formats{
		margin-right: 5px!important;
		button{
			width: 18px;
			height: 18px;
		}
		.ql-picker{
			font-size: 12px !important;
			height: 20px !important;
		}
	}
	.ql-font{
		width: 80px!important;
	}
	.ql-size{
		width: 67px!important;
	}
}
.ql-editor{
	height: 270px;
    padding: 5px;
    &::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0,0,0,.5);
		box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
}

